.strength-indicator p {
  font-size: 14px;
  font-weight: bold;
  color: #555;
}

.strength-indicator .empty {
  color: #777;
}

.strength-indicator .weak {
  color: #ff4d4d;
}

.strength-indicator .medium {
  color: #ffcc00;
}

.strength-indicator .strong {
  color: #4caf50;
}
